*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1f1f1f;
}

.beaker-logo{
    width: 25px;
    fill: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    margin-top: 10px;
}
.navbar-left-element{
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-left-element li{
    font-family:  Arial, sans-serif;
    color: white;
    font-size: 14px;
}

.navbar-right-element{
    display: flex;
    gap: 22px;
    align-items: center;
}

.right-element-content{
    display: flex;
    list-style: none;
    gap: 12px;
}

.right-element-content li{
    font-family:  Arial, sans-serif;
    color: white;
    font-size: 14px;
}

.right-element-symbol{
    display: flex;
    list-style: none;
    gap: 22px;
    align-items: center;
}

.right-element-symbol li{
    color: white;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.logo{
    width: 22px;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #47494e;
    width: 45vw;
    padding: 5px;
    border-radius: 40px;
    margin: 20px 0px 30px 0px;
}

.search{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
}

.plus-logo{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 5px;
}

.search-bar-right{
    display: flex;
    padding-top: 3px;
    gap: 15px;
}

.search-bar-right-symbol{
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.ai-tool-box{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 0.2px solid #CFCFCF;
    padding: 3px 10px;
    margin-bottom: 3px;
    margin-right: 5px;
    border-radius: 50px;
}

.AI-mode-button p{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.main-content-option{
    display: flex;
    gap: 15px;
}

.content-option-1, .content-option-2{
    background-color: #47494e;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}



.language-option{
    display: flex;
    gap: 2px;
    margin: 40px;
}

.language-option-list{
    list-style: none;
    display: flex;
    gap: 5px;
}

.language-option-list li a{
    color: #8ab4f8;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.language-facility{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 13px;
}